@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post" action="">

    <label>Nombre:</label>
    <input name="nombre" type="text" />
    <br />
    <br />
    <label>Edad:</label>
    <input name="edad" type="number" />
    <br />
    <br />
    <label>Sector:</label>
    <input name="sector" type="text" />
    <br />
    <br />
    <button class="btn btn-outline-success" type="submit">ENVIAR</button>

    
</form>

